<!DOCTYPE HTML>
<html>
    <head>
        <title>%title%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="Stylesheet" type="text/css" href="%root_path%../media/css/style.css" />
        <!-- SyntaxHighlighter -->
        <script src="%root_path%../media/sh/scripts/shCore.js"></script>
        <script src="%root_path%../media/sh/scripts/shBrushAll.js"></script>
        <script src="%root_path%../media/sh/scripts/shBrushBase.js"></script>
        <link type="text/css" rel="stylesheet" href="%root_path%../media/sh/styles/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="%root_path%../media/sh/styles/shThemeMidnight.css"/>
        <script>
            SyntaxHighlighter.config.clipboardSwf = '%root_path%../media/sh/scripts/clipboard.swf';
            SyntaxHighlighter.all();
        </script>
    </head>
    <body>
        <center style="font-family: 'Microsoft Yahei', sans-serif; font-size: 1.80em;
            font-weight: normal; color: #FF6600">Elvis World</center><br />
        <center>生命，爱，责任</center>


        %content%


        <center  style="font-family: 'Microsoft Yahei'; font-size: small; font-weight: normal; color: #009933">
            Elvis&nbsp;&copy;&nbsp;2014&nbsp;
        </center>

    </body>
</html>
