<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <link rel="Stylesheet" type="text/css" href="%root_path%../../media/css/style.css" />
       <meta http-equiv="content-type" content="text/html; charset=utf-8" />
       <meta name="author" content="Elvis" />
       <title>%title%</title>
       <link rel="shortcut icon" href="%root_path%../../favicon.ico" />
       <link href="%root_path%../../feed/" rel="alternate" title="Elvis" type="application/atom+xml" />
       <link rel="stylesheet" href="%root_path%../../media/css/style.css" />
       <link rel="stylesheet" href="%root_path%../../media/css/highlight.css" />
       <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <nav>
      <div class="menu">
			<ul>
            <li><a title="网站首页" class="" href="%root_path%../../">首页</a></li>
            <li><a title="文章分类" class="" href="%root_path%../../categories/">分类</a></li>
            <li><a title="标签索引" class="" href="%root_path%../../tags/">标签</a></li>
            <!--<li><a title="友情链接" class="" href="%root_path%../../links/">链接</a></li>-->
            <li><a title="留言交流" class="" href="%root_path%../../guestbook/">留言</a></li>
            <li><a title="关于站长" class="" href="%root_path%../../about/">关于</a></li>
            <li><a title="种子订阅" class="" href="%root_path%../../feed/" target="_blank">订阅</a></li>
            <li><a href="#"></a>
               <ul class="children">
                  <li><a href="#"></a>
                     <ul class="children">
                           <li><a href="#"></a>
                           </li>
                     </ul>
                  </li>
               </ul>
            </li>
			</ul>
		</div>
      <form action="#" method="get" role="search" id="navsearchform">
         <input type="text" id="navs" name="s" onblur="if (this.value == '') {this.value = 'Search Here';}" onfocus="if (this.value == 'Search Here') {this.value = '';}" value="Search Here">
         <input type="submit" value="" id="navsearchsubmit">
      </form>
      </nav>
      <header>
         <h1><a href="#">%title%</a></h1>
         <h2>Write Elvis's own story regarding to our "Life/Love/Responsibility".</h2>
      </header>

      <section id="main">
        <section id="content">
           <article>
             %content%
           </article>
        </section>
        <aside id="sidebar">
            <h3>WIKI精选</h3>
					<ul>
                  <li><a href="%root_path%Ability/TopTenHabits.html">十大习惯</a></li>
                  <li><a href="%root_path%Ability/SevenHabits.html">7个习惯</a></li>
                  <li><a href="%root_path%十大学习习惯.html">十大学习习惯</a></li>
					</ul>
					
				<h3>Sponsors</h3>
					<img alt="" src="images/ad125.jpg"><br><img alt="" src="images/ad125.jpg"><br><br>

				<h3>Connect</h3>
					<ul>
						<li><a href="http://weibo.com/328280959/home?wvr=5">sina weibo</a></li>
					</ul>

		  </aside>
      </section>

      <footer>
		<section id="footer-area">
			<section id="footer-outer-block">
					<aside class="footer-segment">
							<h4>Friends</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #first footer segment -->

					<aside class="footer-segment">
							<h4>Awesome Stuff</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #second footer segment -->

					<aside class="footer-segment">
							<h4>Coolness</h4>
								<ul>
									<li><a href="%root_path%index.html">Elvis Wiki</a></li>
                           <li><a href="%root_path%../../index.html">Elvis Blog</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #third footer segment -->
					<aside class="footer-segment">
							<h4>Friends</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #first footer segment -->
					
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>



    </div>
  </body>

</html>
