<!DOCTYPE HTML>
<html>
    <head>
        <title>%title%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="Stylesheet" type="text/css" href="%root_path%../media/css/style.css" />
        <!-- blog ico -->

    </head>
    <body>
        <center style="font-family: 'Microsoft Yahei', sans-serif; font-size: 1.80em;
            font-weight: normal; color: #FF6600">Elvis world</center><br />
        <center>生命，爱，责任</center>
        %content%
        <center  style="font-family: 'Microsoft Yahei'; font-size: small; font-weight: normal; color: #009933">
            Elvis&nbsp;&copy;&nbsp;2014&nbsp;
        </center>
    </body>
</html>
