<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" />
    <link href="{{site.baseurl}}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="{{site.baseurl}}/media/css/style.css" />
    <link rel="stylesheet" media="print" href="{{site.baseurl}}/media/css/print.css" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/media/css/highlight.css" />
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <nav>
      <div class="menu">
			<ul>
            <li><a title="网站首页" class="" href="{{site.baseurl}}/">首页</a></li>
            <li><a title="文章分类" class="" href="{{site.baseurl}}/categories/">分类</a></li>
            <li><a title="标签索引" class="" href="{{site.baseurl}}/tags/">标签</a></li>
            <!--<li><a title="友情链接" class="" href="{{site.baseurl}}/links/">链接</a></li>-->
            <li><a title="留言交流" class="" href="{{site.baseurl}}/guestbook/">留言</a></li>
            <li><a title="关于站长" class="" href="{{site.baseurl}}/about/">关于</a></li>
            <li><a title="种子订阅" class="" href="{{site.baseurl}}/feed/" target="_blank">订阅</a></li>
			</ul>
		</div>
      </nav>
      <header>
         <h1><a href="#">{{ page.title }}</a></h1>
         <h2>Write Elvis's own story regarding to "Life/Love/Responsibility".</h2>
      </header>

      <section id="main">
        <section id="content" role="content">
          {{ content }}
        </section>
        <aside id="sidebar">
            <h3>Elvis WIKI</h3>
					<ul>
                  <li><a href="{{site.wikiurl}}/Ability/TopTenHabits.html">十大习惯</a></li>
                  <li><a href="{{site.wikiurl}}/Ability/SevenHabits.html">7个习惯</a></li>
                  <li><a href="{{site.wikiurl}}/十大学习习惯.html">十大学习习惯</a></li>
					</ul>
					
				<h3>Sponsors</h3>
					<img alt="" src="images/ad125.jpg"><br><img alt="" src="images/ad125.jpg"><br><br>

				<h3>Connect</h3>
					<ul>
						<li><a href="http://weibo.com/328280959/home?wvr=5">sina weibo</a></li>
					</ul>

		  </aside>
      </section>

      <footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment">
							<h4>Friends</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #first footer segment -->

					<aside class="footer-segment">
							<h4>Awesome Stuff</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #second footer segment -->

					<aside class="footer-segment">
							<h4>Coolness</h4>
								<ul>
                           <li> <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/" target="_blank" title="许可协议">©</a> 2014 - {{site.time | date:"%Y"}} <a href="{{site.baseurl}}/about/">{{ site.author }}</a> </li>
									<li><a href="{{site.baseurl}}/wiki/html/index.html">Elvis Wiki</a></li>
                           <li><a href="{{site.baseurl}}/../../index.html">Elvis Blog</a></li>
									<li><a href="#">three linkylinks</a></li>
{% if site.beian %}
             | <a href="http://www.miibeian.gov.cn" target="_blank">{{ site.beian }}</a>
{% endif %}
{% if site.cnzz %}
             | <script src="http://s85.cnzz.com/stat.php?id={{ site.cnzz }}"></script>
{% endif %}
								</ul>
					</aside><!-- end of #third footer segment -->
					<aside class="footer-segment">
							<h4>Friends</h4>
								<ul>
									<li><a href="#">one linkylink</a></li>
									<li><a href="#">two linkylinks</a></li>
									<li><a href="#">three linkylinks</a></li>
								</ul>
					</aside><!-- end of #first footer segment -->
					
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>



    </div>
  </body>
</html>
